h1{ font-family:Roman;}

p{ font-family:courier; }

th{ font-family:courier; }

p{ font-size:150%; }

placeholder{text-align:center; }

l{ font size:150%; }

l{ font-family:batang; }
th{ font-size:120%;}
td{ align:c;}
h1{ align:c;}
